body{
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200821/pngtree-pure-white-minimalist-background-wallpaper-image_396581.jpg");

}




h1{
    font-family: 'Dela Gothic One', cursive;
    color:seagreen;
    font-size: 27px;
    margin-bottom: 30px;
    text-align: center;
    }
    

.child .header{
    font-size: large;
    font-weight: 600;
    color: black;
}    


    h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 18px;
    text-align: center;

    }
    
    p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 14px;
    text-align: center;

    }

    button{
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: center;
    }
   
    img{
    max-width: 100%;
    max-height: 200px;
    }

   
    .child .cursorHover:hover{ 
    max-width: 100%;
    max-height: 220px;
    border: black;
    border-style: solid;
    border-width: 1px;
    }
      
    
    .child{
    width: 25%;
    float: left;
    text-align: center;
    }

   
    .child .price {
        color:black;
    }

   
   .discount{
       color: red;
   }
     
    .child .btn{
        background-color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }


    .countdowndiv{
        position: absolute;
        top:0px;
        background-color: rgba(0,0,0,.7);
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 37px;
        font-weight: bold;
        color: #fff;
        display: none;
    }